.frames-view {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.frames-view .frame-display {
    display: grid;
}

.frames-view .frame-display canvas {
    width: 100%;
    height: auto;
}

.frames-view .slider-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.frames-view .slider-controls .slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.frames-view .slider-controls .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.frames-view .slider-controls .slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}